* {
margin: 0;
}

body {
    background-color: rgb(8, 154, 168);
    color: white;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-family: sans-serif;
}

#container {
width: 80%;
max-width: 400%;
margin-top: 100px;
margin-inline: auto;
}

#login-box {
    opacity: 0.9;
    margin-bottom: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

h1 {
    margin-bottom: 10px;
    opacity: 0.9;
    font-size: 35px;
}

p{
    margin-bottom: 10px;
    opacity: 0.9;
}

button {
    display: inline;
    width: 10%;
    padding: 5px;
    font-size:15px;
    border-radius: 4px;
    border: none;
    background-color: rgba(245, 245, 245, 0.378);
    color: rgb(40, 5, 5);
    transition: filter 0.2s;
}

/* pseudo-class :hover */
button:hover {
    filter: brightness(1.2);
    cursor: pointer;

}

img{
    border: 1cm;
    width: 30%;
    
}

.right{
    float: right;
    margin-right: 10%;
    padding: 0%;
    margin-top: 0%;

}

footer{
margin-top: 30%;

}


